
*{
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width:900px;
  background:rgba(113, 191, 0, 0.3);
}

form{
  background: rgba(13,166,111,0.2);
  position: relative;

  top: 20px;
  border: 1px solid black;

}
form label{
  float: left;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
span{
  margin-left: 20px;
}
.user_list {
  padding: 10px;
  list-style: none;
}

.user_list tr {
  padding: 10px;
}


.user_list tr:nth-of-type(2n+1) {
  background-color: rgba(65, 81, 109, 0.3);
}
.user_list tr:nth-of-type(2n+2) {
  background-color: rgba(65, 140, 109, 0.3);
}
.user_list .first_tr{
  background: rgba(0, 0, 0, 0.5)!important;
}
.user_list td {
  padding: 10px;
  width: auto;

}



.editable {
  background-color: rgba(222,111,111,0.6) !important;
  border: 1px solid black;
}
label {
  display: block;
  margin-top: 10px;
}
button {
  display: block;
  margin-top: 10px;
}

#addUsr {
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
}
.error{
  padding: 10px;
  position: relative;
  color:red;
}
.pages{
width: auto;
display: inline-block;
}
.pageSpan{
  padding: 12px;
  font: 18px;
  color: #FFBC42;
  background: #11166F;
  border-radius: 4px;
}
.pageSpan:hover{
  color:#FF1156;
  cursor: pointer;
}
.buttnos-nav{
  display: flex;
  justify-content: flex-end;
}
